/****************** Common *******************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
/****************** card *******************/
.my-card{
    border-radius: 1rem;
    border: 1px solid black;
}
.logo{
    position: absolute;
    width: 50px;
    top:0; right: 0;
}
.img-box{

}